extends layout

block content
  .w3-container
    h1= title
  .w3-container
    form
      label.w3-text-green(for='nome-input')
        b Nome de utilizador:
      input#nome-input.w3-input.w3-border.w3-light-grey(type='text')
      br
      label.w3-text-green(for='passe-input')
        b Palavra-passe:
      input#passe-input.w3-input.w3-border.w3-light-grey(type='text')
      br
      br
      button.w3-button.w3-round-xlarge.w3-green.w3-hover-pale-green(type='button') Log In
