extends layout

block head
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
  link(rel='stylesheet', href='/stylesheets/login.css')

block body
  .lg-container
    form(action='/login.js')
      .lg-row
        h1(style='text-align: center')= title
        h2(style='text-align: center') Iniciar sessão com uma Rede Social ou Manualmente
        .lg-vl
          span.lg-vl-innertext ou

        .lg-col
          a.lg-fb.lg-btn(href='#')
            i.fa.fa-facebook.fa-fw
            | Iniciar sessão com Facebook
          a.lg-twitter.lg-btn(href='#')
            i.fa.fa-twitter.fa-fw
            | Iniciar sessão com Twitter
          a.lg-google.lg-btn(href='#')
            i.fa.fa-google.fa-fw
            | Iniciar sessão com Google+

        .lg-col
          .lg-hide-med-lrg
            p Ou iniciar sessão manualmente:

          input(type='text', name='username', placeholder='Nome de utilizador', required)
          input(type='password', name='password', placeholder='Palavra-passe', required)
          input(type='submit', value='Iniciar Sessão')

  .lg-bottom-container
    .lg-row
      .lg-col
        a.lg-btn(href='#', style='color: white') Criar conta
      .lg-col
        a.lg-btn(href='#', style='color: white') Não sabes a tua palavra-passe?
