extends layout

block head
    title Login
    link(rel='stylesheet', href='/stylesheets/main.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/color.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    link(rel='icon', href='/img/favicon.png', type='image/png' sizes='16x16') 
    script(src='/javascript/main.min.js')
    script(src='/javascript/custom.js')
    script(src='/javascript/script.js')

block body
    .theme-layout
        .container-fluid.pdng0
            .row.merged
                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .land-featurearea
                        .land-meta
                            h2 RepositoriDOIS
                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .login-reg-bg
                        .log-reg-area.recover
                            h2.log-title Atualizar Password
                            form(action='/login.js')
                                .form-group
                                    input(type='password', id='npassword', name='npassword', required)
                                    label(class='control-label', for='npassword') Nova Password
                                    i.mtrl-select
                                .form-group
                                    input(type='password', id='password_conf', name='password_conf', required)
                                    label(class='control-label', for='password_conf') Confirmame a Password
                                    i.mtrl-select

                                .submit-btns
                                    button(class='mtr-btn signin', type='button', style="margin-right: 5px", onclick='updatePassword()')
                                        span Atualizar Password
                                    button(class='mtr-btn resetPwd', onclick="location.href='/'" type='button')  
                                        span Voltar
