extends layout

block head
    title Test Page
    

block body
    h1 This is a test!
    p Olá #{utilizador} chegaste ao feeed... 
    
    ul
        li
            a(href="/utilizadores/logout") Logout
